
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<title>:: Report ::</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<!-- Dropzone Css -->
<link href="/plugins/dropzone/dropzone.css" rel="stylesheet">
<!-- Bootstrap Material Datetime Picker Css -->
<link href="/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<!-- Wait Me Css -->
<link href="/plugins/waitme/waitMe.css" rel="stylesheet" />
<!-- Bootstrap Select Css -->
<link href="/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

<link href="/css/main.css" rel="stylesheet">
<!-- Custom Css -->
<link href="/css/themes/all-themes.css" rel="stylesheet" />



</head>

<body class="theme-blue">

<section> 
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar"> 
       
       <br>
       <br>
     

        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <li><a href="/users/admin_dashboard"><i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>    
                <li><a class="menu-toggle"><i class="zmdi zmdi-store-24"></i><span>Departments</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/admin_view_department">Department List</a></li>
                        <li><a href="/users/admin_add_department">Add Department</a></li>
                    </ul>
                </li>
                <li><a class="menu-toggle"><i class="zmdi zmdi-account-add"></i><span>Doctors</span> </a>

                    <ul class="ml-menu">
                        <li><a href="/users/admin_view_doctor">View Doctors</a></li>
                        <li><a href="/users/admin_add_doctor">Add Doctor</a></li>  
                    </ul>
                </li>
                <li><a class="menu-toggle"><i class="zmdi zmdi-account-o"></i><span>Patients</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/admin_view_patient">View Patients</a></li>
                        <li><a href="/users/admin_add_patient">Add Patient</a></li>                 
                    </ul>
                </li>
                <li><a class="menu-toggle"><i class="zmdi zmdi-calendar-check"></i><span>Appointment</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/admin_book_appointment">Book Appointment</a></li>
                        <li ><a href="/users/admin_manage_booked_appointments">Manage Appointment</a></li>
                    </ul>
                </li>
                <li><a class="menu-toggle"><i class="zmdi zmdi-local-hotel"></i><span>Beds</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/admin_view_bed">Bed List</a></li>
                        <li><a href="/users/admin_add_bed">Add Bed</a></li>
                        <li><a href="/users/admin_view_category">Bed Category</a></li>
                        <li><a href="/users/admin_add_category">Add Category</a></li>  
                        <li><a href="/users/admin_view_allotment">Bed Allotments</a></li>  
                        <li><a href="/users/admin_add_allotment">Add Allotment</a></li> 
                    </ul>
                </li>
                <li><a class="menu-toggle"><i class="zmdi zmdi-developer-board"></i><span>Prescription</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/admin_view_prescription">Prescription List</a></li>
                        <li><a href="/users/admin_add_prescription">Add Prescription</a></li>
                    </ul>
                </li>
                <li class="active open"><a class="menu-toggle"><i class="zmdi zmdi-filter-frames"></i><span>Report</span> </a>
                    <ul class="ml-menu">
                        <li><a href="/users/admin_view_birth_report">Birth Report</a></li>
                        <li><a href="/users/admin_view_operation_report">Operation Report</a></li>
                        <li><a href="/users/admin_view_expire_report">Expire Report</a></li>
                        <li class="active open"><a href="/users/admin_add_report">Add Report</a></li>
                    </ul>
                </li>
                
                <li><a href="/users/admin_logout"><i class="zmdi zmdi-sign-in"></i><span>Log Out</span> </a></li>
            </ul>
        </div>
        <!-- #Menu -->
    </aside>
    <!-- #END# Left Sidebar --> 
</section>

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Report</h2>
            <small class="text-muted">Welcome to Hospital Management System</small>
        </div>
        <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add Report <!-- <small>Add Allotment Information</small> --> </h2>
            
          </div>
          <form action="/users/submit_add_report" method = "POST">
          <div class="body">
                        
                        <div class="row clearfix">
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group drop-custum">
                                    <select name="Type" class="form-control show-tick" required>
                                        <option value="">Select Type</option>
                                        <option value="birth">Birth Report</option>
                                        <option value="operation">Operation Report</option>
                                        <option value="expire">Expire Report</option>
                                        <!-- <option value="birth">Birth Report</option> -->
                                    </select>     
                                </div>
                            </div>
                            <div class="col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <input type="text" name="Date" class="datepicker form-control" placeholder="Date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group drop-custum">
                                    <select name="Patient" class="form-control show-tick" required>
                                        <option value="">Select Patient</option>
                                        {{# each patients}}
                                        <option value={{this._id}}>{{this.name}} ({{this.phone}})</option>
                                        {{/each}}
                                    </select>     
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group drop-custum">
                                    <select name="Doctor" class="form-control show-tick" required>
                                        <option value="">Select Doctor</option>
                                        {{# each doctors}}
                                        <option value={{this._id}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>     
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-line">
                                        <textarea rows="4" name="Description" class="form-control no-resize" placeholder="Description" required></textarea>
                                    </div>
                                </div>
                            </div>
                            
                           
                            
       

                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-raised g-bg-cyan">Submit</button>
                            </div>
                        </div>
                        
                            

                        </div>
                        
                        
                    </div>
                </form>
        </div>
      </div>
    </div>
      
        
    </div>
</section>

<div class="color-bg"></div>


















<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    
    $(document).on('click', 'button.deletebtn', function () {
     $(this).closest('tr').remove();
     return false;
 });
</script>





























<!-- Jquery Core Js --> 
<script src="/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="/bundles/morphingsearchscripts.bundle.js"></script> <!-- morphing search Js --> 
<script src="/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 


<script src="/plugins/autosize/autosize.js"></script> <!-- Autosize Plugin Js --> 
<script src="/plugins/momentjs/moment.js"></script> <!-- Moment Plugin Js --> 
<script src="/plugins/dropzone/dropzone.js"></script> <!-- Dropzone Plugin Js -->
<!-- Bootstrap Material Datetime Picker Plugin Js --> 
<script src="/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script> 

<script src="/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
<script src="/bundles/morphingscripts.bundle.js"></script><!-- morphing search page js --> 
<script src="/js/pages/forms/basic-form-elements.js"></script>
</body>
</html>

